@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sloan Nelson"; 
}



    <h1>Sloan Nelson's Web Page</h1>

    <img src="img/sloannelson.webp" />

    <p>
        I hope to become confident in the C# language. I hope to be able to code an application
        without having to watch a step-by-step tutorial. I also hope to become more comfortable using
        css and bootstrap themes. I am interested in the design of web applications as well
    </p>

    <br />
    <br />

    <ul>
        Jobs After Graduation
        <li>Data Analyst</li>
        <li>Digital Marketer</li>
        <li>Real Estate Investor</li>
    </ul>

    <h2>Grade Calculator</h2>
    <form method="post">
        <label>Assignments</label><input id="A" name="A" />
        <br />
        <label>Group Projects</label><input id="G" name="G" />
        <br />
        <label>Quizzes</label><input id="Q" name="Q" />
        <br />
        <label>Midterm Exam</label><input id="M" name="M" />
        <br />
        <label>Final Exam</label><input id="F" name="F" />
        <br />
        <label>Intex</label><input id="I" name="I" />
        <br />
        <input id="btnSend" type="submit" value="Calculate" />

    </form>

    <script src="js/calculator.js"></script>
  




